/* Combinador de descendientes */
.listas .lista {
  text-decoration: underline;
}

.todo .lista {
  list-style: decimal;
}

.dias .lista {
  list-style: none;
}

/* Combinador de hijos directos */

.listas > .lista {
  list-style: upper-roman;
  background-color: yellow;
}

.dias > .lista {
  color: orangered;
  font-weight: bold;
  font-size: 20px;
}

/* Combinador de hermano adyacente */

/* .subtitulo + .parrafo {
    background-color: yellow;
    display: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}

.parrafo {
    background-color: red;
}

.subtitulo:hover + .parrafo{
    background-color: steelblue;
    display: block;
    opacity: 1;
    height: 50px;
} */

/* Combinador de hermanos generales */

.subtitulo ~ .parrafo {
    background-color: tomato;
}